.title{
    text-align: center;
    margin-top: 100px;
}

.logo{
    height: 300px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
<<<<<<< HEAD
p {
    text-align: center;
}

.startQuizButton{
   display: block; 
   margin-right: auto;
   margin-left: auto;
}
=======
.quizStartButton{
    text-align: center;
}
>>>>>>> adcecb4ffeeb310e2f057f4fa089f962ee45d1e1
