.title{
    text-align: center;
    margin-top: 100px;
}

.logo{
    height: 300px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.quizStartButton{
    text-align: center;
}
